<!DOCTYPE html>
<html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户管理</title>
<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" />
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script language="JavaScript" src={{ static_url("js/bootstrap.min.js") }}></script>
</head>
<body>
<nav class="navbar">
<div class="navbar-header">
<button type="button" class="navbar-toggle" 
data-toggle="collapse"
data-target=".navbar-responsive-collapse">
<span class="sr-only">Toggle navigtion</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="#" class="navbar-brand">机构后台</a>
</div>
</div>
    <ul class="nav navbar-nav navbar-right" style="margin-right:25px;">
    <li><a href="#">{{ username }}</a></li>
    <li><a href="#"><span class=""></span>注销</a></li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="#" class="list-group-item active">商标信息</a>
            <a href="#" class="list-group-item">专利信息</a>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-table">
                <li class="active">
                    商标信息
                </li>
            </ul>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>专利名称</th>
                        <th>申请人</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elem in info %}
                    <tr>
                        <th scope="row">{{ elem["no"] }}</th>
                        <td><a href="{% raw elem['url'] %}">{{ elem["name"] }}</a></td>
                        <td><a href="#">高通股份有限公司</a></td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            {% raw pageurl %}
        </div>
    </div>
</div>


</body>
</html>
