<!DOCTYPE html>
<html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
已申请专利列表
</title>
<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" />
</head>
<body>
<table class="table">
{% for item in item_list %}
<tr>
<td>{{ item["no"] }}</td>
<td><a href="/patentinfo/{{ item['no'] }}">{{ item["title"] }}</a></td>
</tr>
{% end %}
</table>
<div>
{%raw pageurl%}
</div>
</body>
</html>
